$simply-blue: #81b3d2;
$simply-gray: #333333;
$coffee: #766357;
$strong-coffee: #604e43;
$faded-blue: #669ec0;
$cool-blue: #5496bd;
$input-gray: #f2f2f2;
$accent-gray: #e5e5e5;
$disabled-gray: #d5d5d5;
$usual-font: "PTSans", "Helvetica", "Arial", sans-serif;
$retina-dppx: 2dppx;
